@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #9fe5c1;
  margin: 0;
  font-family: Arial, sans-serif; /* Use Arial as primary font */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Consolas, monospace; /* Use Consolas for code */
}

h1 {
  @apply text-xl;
}

h2 {
  @apply text-lg;
}

pre {
  @apply px-4;
}

p {
  @apply py-2;
}

.counter {
  @apply m-8 pt-28 text-6xl block align-middle text-center;
  @apply h-96 w-96 mx-auto border-teal-400
}
.counter span {
  @apply block my-2;
}
.top {
  @apply border-t-4;
}
.bottom {
  @apply border-b-4;
}
.left {
  @apply border-l-4;
}
.right {
  @apply border-r-4;
}

.App {
  @apply grid grid-cols-1 lg:grid-cols-5 font-sans;
}
.title-bar {
  @apply col-span-1 lg:col-span-5;
  @apply border-b-2 border-teal-400;
  @apply py-4 px-2;
}
.app-content {
  @apply col-span-1 lg:col-span-5;
  @apply m-4;
}
