@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #9fe5c1;
  margin: 0;
  font-family: Arial, sans-serif; /* Use Arial as primary font */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-cyan-200;
}

code {
  font-family: Consolas, monospace; /* Use Consolas for code */
}

h1 {
  @apply text-xl;
}

h2 {
  @apply text-lg;
}

pre {
  @apply px-4;
}

p {
  @apply py-2;
}

a {
  @apply font-bold text-cyan-700 underline underline-offset-4;
}

a:hover {
  @apply text-cyan-800;
}

.App {
  @apply font-sans;
}

.title-bar {
  @apply border-b-2 border-cyan-400;
  @apply py-4 px-2;
  @apply text-center text-2xl;
}

.menu-bar {
  @apply text-center text-lg;
}

.menu-bar button {
  @apply bg-cyan-400 border-2;
  @apply m-2 p-2 px-4;
  @apply hover:bg-cyan-300;
}

.menu-bar button.active {
  @apply bg-cyan-300;
}
